.section {
    color: $SecondaryColor;
    background-color: $PrimaryColor;
    padding: 1rem 2rem;

    &__img {
        width: 110%;
    }

    &__title {
        color: $SecondaryColor;
        font-size: 20px;
        background: $PrimaryColor;
        padding: 0.4rem 0.2rem;
    }

    &__info {
        margin-top: 4rem;
        text-align: justify;
    }

}