.topnav {
  overflow: hidden;
  background-color: #72877c;
}

.topnav a {
  float: left;
  display: block;
  color: #c2f8fb;
  text-align: center;
  padding: 36px 36px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Helvetica Neue';
}

.searchbar {
  align-items: center
}

.search_button {
  height: 50px;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.topnav .split {
  float: right;
  background-color: #86877a;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

* {
  box-sizing: border-box
}

body {
  background-color: #c2d2ba;
}

.select_spacing {
  margin-bottom: 15px;
}

.titulo {
  font-family: 'Helvetica Neue';
  text-align: center;
  color: #345454;
  border-bottom: #80b0b1 10px solid;

}

.slideshow-container {
  max-width: 800px;
  max-height: 400px;
  position: relative;
  margin: auto;
  align-content: center;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #d4d1c0;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.image {
  height: 400px;
  width: 800px;
}

footer {
  align-items: center;
  width: fit-content;
  margin: auto;
  border: 3px solid;
}

footer a {
  padding: 10px;
}

.logo {
  padding: 0px;
}

.logo img {
  width: 230px;
}

.btn {
  background-color: white;
  padding: 1rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: black;
}

* {
  box-sizing: border-box;
}

.generos {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.section {
  color: #7ca4ac;
  background-color: #506d67;
  padding: 1rem 2rem;
  position: relative;
}

.section__img {
  width: 110%;
}

.section__title {
  color: #80b0b1;
  font-size: 2vw;
  background: #506d67;
  padding: 0.4rem 0.2rem;
}

.section__info {
  margin-top: 6rem;
}


.btn {
  background-color: #e4bc7f;
  padding: 1rem;
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: #345454;
}



.contactanos_h1 {
  color: #345454;
  font-size: 35px;
  margin-bottom: 30px;
}

.contactanos_h2 {
  color: #345454;
  font-size: 20px;
}

li {
  color: #345454;
}

.footer__content {
  background-color: #e4bc7f;
}

/* MEDIA QUERIES */
/* HASTA 320 PX */
@media screen and (max-width: 320px) {
  .header {
    flex-direction: column;
  }

  .topnav {
    display: flex;
    flex-direction: column;

  }

  .logo img {
    width: 290px;
    ;
  }

  .topnav a {
    font-size: 18px;
    padding: 10px;
  }

  .image {
    height: 150;
    width: 300px;
  }

  .text {
    color: #345454;
    padding: 0px 0px;
    bottom: -17px;
  }

  .generos {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .section__title {
    font-size: x-large;

  }

  .section__info {
    margin-top: auto;
  }

  footer {
    font-size: 13px;
  }
}


@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}